.header {
    position: relative;
    height: 116px;
    background-color: #fff;
    z-index: 2;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .header {
        height: 60px;
    }
}
