#cheveux {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#cheveux:active,
#cheveux:hover {
  opacity: 0.2;
}

.oeuilChat {
  transform-origin: 0% 45%;
  animation: clignement;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.menEyes {
  transform-origin: 0% 28%;
  animation: clignement;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.avantBras {
  animation: avantBras;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.hautBras {
  transform-origin: 75% 60%;

  animation: hautBras;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.svgContent {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.ecran {
  animation: ecran;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 1.9s;
}

@keyframes clignement {
  0% {
    transform: scaleY(1);
  }
  95% {
    transform: scaleY(1);
  }
  97.5% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes avantBras {
  0% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(0px);
  }
  89% {
    transform: translateX(-85px);
  }
  91% {
    transform: translateX(-85px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes hautBras {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  89% {
    transform: rotate(41deg);
  }
  91% {
    transform: rotate(41deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes ecran {
  0% {
    fill: url(#image1);
  }
  20% {
    fill: url(#image2);
  }
  40% {
    fill: url(#image3);
  }
  60% {
    fill: url(#image4);
  }
  80% {
    fill: url(#image5);
  }
  100% {
    fill: url(#image1);
  }
}
