.navBar ul {
    display: flex;
    gap: 32px;
}

.navBar li {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--darkGrey);
}

.navBar li:hover {
    cursor: pointer;
    color: var(--primaryColor);
}

.navBurger {
    display: none;
}

.navModal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 800px) {
    .navBar {
        display: none;
    }

    .navBurger {
        display: block;
    }

    .navModal {
        display: block;
    }
}
