.navBar ul {
    display: flex;
    gap: 32px;
}

.navBar li {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--darkGrey);
}

.navBar li:hover {
    cursor: pointer;
    color: var(--primaryColor);
}

.navBurger {
    display: none;
}

@media screen and (max-width: 850px) {
    .navBar ul {
        display: none;
    }

    .navBurger {
        display: block;
    }
}
