.projets {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-bottom: 60px;
}

.h1Important {
  margin-bottom: var(--h1MarginBottom);
  max-width: none;
}

.scrollTopBtn {
  border: none;
  outline: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: fit-content;
  max-height: 96px;
  margin: 70px auto 70px;
  cursor: pointer;
}

@media screen and (max-width: 1155px) {
  .projets {
    gap: 48px;
  }

  .scrollTopBtn {
    margin: 48px auto 48px;
  }
}

@media screen and (max-width: 750px) {
  .projets {
    gap: 34px;
  }

  .scrollTopBtn {
    width: 64px;
    max-height: 64px;
    margin: 60px auto 60px;
  }
}
