.navModal {
    position: fixed;
    background-color: var(--primaryColor);
    height: 100vh;
    width: 80vw;
    top: 0;
    left: var(--modalPosition);
    transition: left 0.3s ease-in-out;
    color: white;
    z-index: 1000;
}

.navModal ul {
    margin-top: 50px;
    margin-left: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
}

.navModal ul li {
    margin-left: var(--modalPosition);
}

.navModal ul li:nth-child(1) {
    transition: margin 0.2s 0.2s ease-in-out;
}

.navModal ul li:nth-child(2) {
    transition: margin 0.2s 0.3s ease-in-out;
}

.navModal ul li:nth-child(3) {
    transition: margin 0.2s 0.4s ease-in-out;
}

.navModal ul li:nth-child(4) {
    transition: margin 0.2s 0.5s ease-in-out;
}
