.logo {
    text-transform: uppercase;
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    text-transform: uppercase;
}

@media screen and (max-width: 715px) {
    .logo {
        font-size: 20px;
        line-height: 30px;
    }
}
